.loader {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

@keyframes loader {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
