.Navbar {
    display: flex;
    width: 100%;
    height: var(--navbar-height);
    padding: 0 20px;
    background: var(--inverted-bg-color);
}

.links {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}
